/* .footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer__container{
    display: flex;
    align-items: baseline;
}
.footer__list{
    display: block;
}
.footer__item{
    margin-bottom: 9px;
}
.footer__text{
    color: #fff;
    font-style: inherit;
    font-style: normal;
}
.footer_list{
    display: block;
}
.footer__link-social {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #fff;
}
.footer__contact {
    justify-content: center;
    align-items:baseline;
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer__logo{
    display: block;
    margin-bottom: 20px;
    color: #fff;
}
.footer__title {
    margin-bottom: 20px;

    color: #fff;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer__social{
    margin-left: 70px;
}
.footer__subscription{
    margin-left: 117px;
} */
/* .footer__form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
     */
    /* margin-left: 117px; */
/* } */
/* .footer__input{
    display: inline;
    color: #fff;

    padding: 11px;

    background-color: #2F303A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    width: 358px;
    height: 50px;
}

.footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;

    width: 200px;
    height: 50px;

    border: none;
    border-radius: 4px;
}
.footer__icon {
    margin-left: 10px;
    fill: #fff;
} */