:root{
    --pramary-icon-color:#AFB1B8;
    --secondery-icon-color:#fff;
    --pramary-ivon-color-bottom:rgba(255, 255, 255, 0.1);

    --background-color: #FFF;
    --pramiry-color: #757575;
    --secondory-color:#212121;
    --company-color:#2196F3;

    --footer-contact-color: rgba(255, 255, 255, 0.6);

    --pramiry-button-color: #fff;
    --secondory-button-color: #212121;
    --pramiry-button-background-color: #2196F3;
    --secondory-button-background-color: #F5F4FA; 
}

/* body
{
    color: var(--pramiry-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    letter-spacing: 0.03em;
}

img{
    display: block;
    max-width: 100%;
    height: auto;    
}

h1,
h2,
h3,
p,
ul
{
    margin: 0px;
    padding: 0px;   
} */

/* visually hidden */
/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* Container */
/* .container{
    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
} */
/* list */
/* .list {
    display: flex;
    list-style: none;
} */

/* links */
/* .link {
    color: inherit;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-size: inherit;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--company-color);
    fill:currentColor;
} */

/* button */
/* .button {
    cursor: pointer;

    transition-property:color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding: 6px 22px;

    color: var(--secondory-button-color);
    background-color: var(--secondory-button-background-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;

    border-radius: 4px;
    
    line-height: 1.6;
    letter-spacing: 0.03em;

    border: 0;
} */
/* .button:hover,
.button:focus {
    color: var(--pramiry-button-color);
    background-color: var(--pramiry-button-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* title */
/* .title {
    text-align: center;

    margin-bottom: 50px;

    color: var(--secondory-color);

    font-weight: 700;
    font-size: 36px;

    line-height: 1.16;
    letter-spacing: 0.03em;
} */

/* header */
/* .header-section{
    border-bottom: 1px solid #ECECEC;
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-nav{
    display: flex;
    align-items: center;
    gap: 93px;
}
.list-nav{
    display: flex;
    gap:50px;
}
.list-nav .navigation-link{
    padding-top: 33px;
    padding-bottom: 31px;
} */
/* .logo{
    color: #000000;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;

    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
} */
/* .logo-cover{
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--company-color);
} */
/* .navigation-link {
    position: relative;
    color: var(--secondory-color);

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
}
.transition-link::after
{
    display: block;
    position: absolute;
    bottom: 0px;
    
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: var(--company-color);
    
    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: '';
}
.transition-link:hover::after,
.transition-link:focus::after{
    transform: scaleX(1);
}
.link.this-page{
    position: relative;

    color: var(--company-color);
}
*/
/* .this-page::after
{
    display: flex;
    position: absolute;
    bottom: 0px;

    background-color: var(--company-color);

    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: '';    
} */
/* .top-contact {
    padding-top: 33px;
    padding-bottom: 31px;

    display: flex;
    align-items: center;
    gap: 10px;
    fill: currentColor;

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
} */
/* .list.list-contact{
    gap: 50px;
} */
/* hero section */
/* .hero-section{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url("../images/hero-image.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;

    padding-bottom: 200px;
    padding-top: 200px;

    background-color: #2F303A;
}
.hero-title{
    margin-bottom: 30px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 696px;

    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;

    line-height: 1.4;
    letter-spacing: 0.06em;

    text-transform: uppercase;
}
.hero-button{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    background-color: var(--company-color);
    color: var(--pramiry-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    letter-spacing: 0.06em;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}
.hero-button .button-text{

    display: block;
    padding: 10px 32px;
} */
/* features section */
/* .features-section{
    padding-top: 94px;
    padding-bottom: 0px;
}
.features-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
}
.features-title{
    margin-bottom: 10px;

    color: var(--secondory-color);

    font-weight: 700;
    font-size: inherit;
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list-features{
    flex-wrap: wrap;
    gap:30px;
}
.list-features .item{
    flex-basis: calc((100%-90px)/5);
}
.features-text{
    line-height: 1.71em;
} */
/* development-section */
/* .development-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-developmen{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.developmen-item{
    position: relative;
}
.developmen-div
{
    position: absolute;

    bottom: 0px;

    padding-top: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;    
}
.developmen-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;
    color: #FFFFFF;
} */
/* employee section */
/* .employee-section{
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;
}
.list-employee{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.employee-cart{
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} */    
/* .card-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.employee-card-title{
    margin-bottom: 10px;

    color: var(--secondory-color);

    font-weight: 500;
    font-size: 16px;

    line-height: 1.19;
    letter-spacing: 0.03em;
}
.employee-card-text{
    line-height: 1.71;
} */

/* .social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}

.social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--background-color);
}

.social-link {
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--pramary-icon-color);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--company-color);
    fill: var(--secondery-icon-color);
}
.social-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */
/* clients section */
/* .clients-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    justify-content: center;
    gap: 30px;
}
.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--pramary-icon-color);

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--company-color);
    fill: var(--company-color);
} */
/* footer */
/* .bottom-section{
    background-color: #2F303A;
}
.bottom-section .container
{
    display: flex;
    align-items: baseline; 
    padding-top: 60px;
    padding-bottom: 60px;
}
.bottom-text{
    color: #fff;

    font-style: inherit;
    font-weight: 400;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.bottom-span{
    display: block;
   margin-bottom: 9px; 
}
.bottom-contact {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-style:normal;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.bottom-title{
    margin-bottom : 20px;

    color: #fff;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

} */
/* .social-card{
    margin-left: 70px;
}
.social-card .social-item{
    background-color: var(--pramary-ivon-color-bottom);
}
.social-card .social-link{
    fill: var(--secondery-icon-color);
}
.social-card .social-link:hover,
.social-card .social-link:focus{
    background-color: var(--company-color);

} */
/* Footer form */
/* .footer-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 117px;
}

.subscription-input{
    color: #fff;

    padding: 11px;

    background-color: #2F303A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    width: 358px;
    height: 50px;

}
.subscription-button{
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

    width: 200px;
    height: 50px;

    border: none;
    border-radius: 4px;

    background-color: var(--company-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription-text{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}
.subscription-icon{
    fill: #fff;
} */

/* product section */
.product-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-botton
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 56px;
}
.list-botton .item:not(:last-child)
{
    margin-right: 8px;    
}
.product-card{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.product-item{
    position: relative;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--background-color);
    border: 1px solid #EEEEEE;
    width: 370px;
}
.product-link{
    overflow: hidden;
    text-decoration: none;
}
.product-description {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(33, 150, 243, 0.9);
}
.description-text{
    margin: 63px 24px;
}
.product-item:focus,
.product-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-link:hover .product-description,
.product-link:focus .product-description{
    transform: translateY(0%);
}
.description-text{
    font-size: 18px;
    line-height: 1.55em;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.product-title{
    margin-bottom: 4px;
    color: var(--secondory-button-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}
.product-text{
    position: relative;
    z-index: 1;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    background-color: var(--background-color);
}
.product-span{
    color: var(--pramiry-color);

    font-size: 16px;

    line-height: 1.8;
    letter-spacing: 0.03em;
}
/* Modal */
/* .backdoor{
    position: fixed;
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}
.backdoor.is-hidden
{
    opacity: 0;
}
.modal{
    position: absolute;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 3;

    width: 528px;
    height: 581px;

    background-color: var(--background-color);
} */
.close-buttom {
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    right: 8px;
    top: 8px;

    border-radius: 50%;

    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-buttom:hover,
.close-buttom:focus{
    fill: var(--company-color);
    cursor: pointer;
}
/* .is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
} */

/* Modal form */
/* .modal-form{
    margin: 40px;
}
.modal-title{
    margin-bottom: 12px;

    color: var(--secondory-color);
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
.modal-field{
    position: relative;
    margin-bottom: 10px;
}
.modal-ladel{
    display: block;

    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    cursor: pointer;
}
.modal-input{

    padding: 11px 11px 11px 32px;

    width: 100%;
    height: 40px;   
    border-radius: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    cursor: pointer;
}
.modal-input{
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    left: 12px;
    top: 28px;

    cursor: pointer;
}
.modal-input:hover,
.modal-input:focus
{
    border-color: var(--company-color);
}
.modal-input:hover ~ .modal-icon,
.modal-input:focus~.modal-icon
{
    fill:var(--company-color);  
}
textarea[class="modal-input"]{
    resize: none;
    height: 120px;
    margin-bottom: 10px;
}
.modal-input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
} */
/* .modal-link {
    color: var(--company-color);
    cursor: pointer;

}

.modal-buttom {
    display: block;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    letter-spacing: 0.06em;

    color: #FFFFFF;

    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;

    background-color: var(--company-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border: none;
    border-radius: 4px;
} */
/* .modal-checkbox{
    text-align: center;
    margin-bottom: 30px;
} */
.checkbox-icon{
    position: absolute;
    top: 0px;
    left: 12px;
    border: 2px solid var(--secondory-color);
    border-radius: 4px;
}
.checkbox-input:checked + .checkbox-icon{
    background-color: var(--company-color);
    border: none;
}